.container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    grid-template-areas: 
        'topbar'
        'content'
    ;
}

.topbar {
    grid-area: topbar;
    /* background-color: yellow; */
}

.content {
    grid-area: content;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    /* background-color: skyblue; */
}
